<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe with {{ ingredient }}</title>
</head>
<body>
<h1>Here's a recipe that contains {{ ingredient.replace("_", " ") }}!</h1>
<h2>{{ recipe.name }}</h2>
<img src="{{ recipe.image }}">
<div>
    <ul>
        {% for name, measure in recipe.ingredients.items() %}
            <li>{{ name }}: {{ measure }}</li>
        {% endfor %}
    </ul>
</div>
<p>{{ recipe.instructions }}</p>
<p>Here's a <a href="{{ recipe.video }}">video</a> if you need further help.</p>
</body>
</html>